* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #fff5f5;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #ffffff;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: 100%;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}