*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #f6f8fc;
}

.content{
    height: 100vh;
    width: 100vw;
    padding: 1rem;
    background-color: #fff;
}

@media screen and (min-width: 992px) {
    .content{
        max-width: 992px;
        max-height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

.pokemons{
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 380px) {
    .pokemons{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


.pokemon{
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 1.5rem 1rem;
    border-radius: 1rem;
    background-color: #49d0b0;
}

.pokemon .number{
    color: #000;
    opacity: 0.3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name{
    color: #fff;
    margin-bottom: .25rem;
}

.pokemon .detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types{
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type{
    background-color: #61e1ca;
    color: white;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
}



.pokemon .detail img{
    max-width: 100%;
    height: 80px;
}